.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: rgb(33, 33, 33);
}

.background-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 500px;
    margin: 120px auto;
    background-color: rgb(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
}
.background-box {
    position: relative;
    display: flex;
    justify-content: center;

}

.sitenavbar {
    font-family: 'Raleway', sans-serif;
}

.bg
{
  width: 100%;
}