body {
    background-color: #3b3b3b !important; 
    position: relative;
}




    /* Navigation Styles */

.nav-link {
    color: white;
    list-style-type: none;
}

.nav-item:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    transition: background .3s ease-in
}

#nav {
    padding-top: 0px;
    padding-bottom: 0px;
}

a.nav-link {
    padding: 15px 16px 15px 16px;
}

a.nav-link:hover {
    color: #3b3b3b;
}

.sitenavbar {
    font-family: 'Raleway';
    font-weight: 200;
    display: flex;
}

.nav {
    justify-content: center;
}

.navbar {
    background-color: #3b3b3b;
 }




    /* Background Styles */

.background-box {
    position: relative;
    display: flex;
    justify-content: center;
}

.bg {
  width: 100%;
  height: 100vh;
}

.background-text {
    color: black;
    height: 450px;
    width: 550px;
    margin: 120px auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    text-align: center;
}

.justin {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 50px;
    color: whitesmoke;
}

.softwaredev {
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 35px;
    color: whitesmoke;
}





    /* Skills Styles */

.skills {
    color: #3d3d3d;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 50px;
    padding: 20px 0px 90px 0px;
    background-color: whitesmoke;
}

.skillsheader {
    padding: 50px 0px 0px 0px;
}

.headerline {
    margin-left: 675px;
    margin-right: 675px;
    height: 3px;
    border: none;
    background-color: #2e2e2e;
    margin-bottom: 60px;
}


.icons {
    max-width: 300px;
    padding: 15px 20px 15px 20px;
    transition: transform .1s;
}

.icons:hover {
    transform: scale(1.2);
}




    /* Projects Styles */

.projects {
    color: #3d3d3d;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 50px;
    padding: 20px 0px 80px 0px;
    text-decoration: none;
}

.projectslogo {
    color: #3d3d3d;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 50px;
    padding: 50px 0px 0px 0px;
}

.datenite {
    max-width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    transition: transform .1s;
}

.datenite:hover {
    text-decoration: none;
    transform: scale(1.05);
}

.cloudhub {
    width: 75px;
    display: block;
    margin: 0 auto;
    transition: transform .1s;
}

.cloudhub:hover {
    transform: scale(1.2);
}

.datenitebox a:hover {
    text-decoration: none !important;
}

.myCalc {
    max-width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    transition: transform .1s;
}

.myCalc:hover {
    transform: scale(1.05);
}

.datenitebox p {
    max-width: 300px;
    font-size: 32px; 
    margin: 0 auto;
    padding-top: 20px;
}

.calcbox p {
    max-width: 300px;
    font-size: 32px; 
    margin: 0 auto;
    padding-top: 20px; 
}

.datenitebox h3 {
    text-decoration: none;
    color: #3d3d3d;
}

.projects p {
    font-size: 25px;
}

.calcbox h3 {
    color: #3d3d3d;
}

.calcbox a:hover {
    text-decoration: none !important;
}

.myCalc a {
    text-decoration: none;
}

#projects {
    background-color: white;
}

.datenitebox {
    padding-left: 20px;
    padding-right: 20px;
}

.calcbox {
    padding-left: 20px;
    padding-right: 20px;
}


    /* Contact Styles */

.contactlogo {
    color: #3d3d3d;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 50px;
    padding: 20px 0px 0px 0px;
    margin: 0 auto;
}

.contactbox {
    background-color: whitesmoke;
}

#submitbutton {
    margin: 0 auto;
    text-align: center;
}

.text-center {
    padding: 15px 0px 40px 0px;
}

.smallicon {
    width: 50px;
}

.aboutmeicons {
    display: flex;
    justify-content: space-evenly;
}

.iconbox {
    text-align: center;
    font-family: 'Raleway';
    font-weight: 200;
}




    /* Footer */

.footer {
    background-color: #3b3b3b;
    color: whitesmoke;
    font-family: 'Raleway';
    font-weight: 200;
    height: 75px;
}

.footer p {
    margin-bottom: 0;
    padding: 30px 0px 25px 40px;
}

.socialiconsbox {
    text-align: right;
    float: right;
    padding: 25px 40px 25px 0px;
}

.socialicons {
    width: 30px;
    height: 30px;
    margin-left: 20px
}

.floating {
    display: inline-block;
}

